{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static "static/application/application.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body data-user="{{ user.id }}">
  <div class="header">
    <a href="/" class="logo"></a>
  </div>
  <div class="content">
      <div class="container">
      {% block application %}

      {% endblock %}
    </div>
  </div>
  <script src="{% static "static/application/application.js" %}" type="text/javascript"></script>
</body>
</html>