{% extends "base.html" %}
{% block application %}
<div class="choose-wrapper">
    <div class="choose" data-vk="{{ vk_id }}">
      <h1 class="title _choose"><i class="title-image _choose"></i><span class="title-info _choose">{{ user.first_name }}, тебе нужно выбрать свое самое классное фото, ведь по нему будут оценивать тебя.</span></h1>
      <div class="choose-list">
        <span class="choose-item"><img class="choose-item-image js-choose-image" src="" /></span>
        <span class="choose-item"><img class="choose-item-image js-choose-image" src="" /></span>
        <span class="choose-item"><img class="choose-item-image js-choose-image" src="" /></span>
        <span class="choose-item"><img class="choose-item-image js-choose-image" src="" /></span>
      </div>
      <span class="btn vote-btn">Готово</span>
    </div>
  </div>

{% endblock %}