<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../frontend/static/application/application.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div class="header">
    <a href="/" class="logo"></a>
  </div>
  <div class="content">
    <div class="container">
      <div class="choose">
        <ul class="choose-list">
          <li class="choose-item"><img src=""></li>
          <li class="choose-item"><img src=""></li>
          <li class="choose-item"><img src=""></li>
          <li class="choose-item"><img src=""></li>
          <li class="choose-item"><img src=""></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>