<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../frontend/static/application/application.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div class="header">
    <a href="/" class="logo"></a>
  </div>
  <div class="content">
    <div class="container">
      <div class="auth">
        <div class="auth-head">
          <p><b>юТоп</b> - рейтинг людей, где популярность других людей <b>определяете вы!</b></p>
          <p><b>Чтобы начать - авторизуйтесь через Вконтакте</b></p>
        </div>
        <div class="auth-footer">
          <span class="auth-btn">
            <i class="auth-btn-img"></i>
            <span class="auth-btn-title">Авторизоваться</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>