{% extends "base.html" %}
{% block application %}
<div class="toplist">
        <h1 class="title _top"><i class="title-image _top"></i></h1>
        <ul class="toplist-list">
          <li class="toplist-item _top">
            <i class="toplist-num">1</i>
            <i class="toplist-avatar"><img src="http://orig01.deviantart.net/9824/f/2016/121/d/7/placeholder_2_by_sketchymouse-da0yiyl.png" class="toplist-avatar-img" /></i>
            <span class="toplist-info">
              <span class="toplist-name">Юлия</span>
              <span class="toplist-rating">
                <i class="toplist-rating-icon _5"></i>
                <i class="toplist-rating-num">327 голосов</i>
              </span>
            </span>
          </li>
          <li class="toplist-item">
            <i class="toplist-num">2</i>
            <i class="toplist-avatar"><img src="http://orig01.deviantart.net/9824/f/2016/121/d/7/placeholder_2_by_sketchymouse-da0yiyl.png" class="toplist-avatar-img" /></i>
            <span class="toplist-info">
              <span class="toplist-name">Валя</span>
              <span class="toplist-rating">
                <i class="toplist-rating-icon _4"></i>
                <i class="toplist-rating-num">227 голосов</i>
              </span>
            </span>
          </li>
          <li class="toplist-item">
            <i class="toplist-num">3</i>
            <i class="toplist-avatar"><img src="http://orig01.deviantart.net/9824/f/2016/121/d/7/placeholder_2_by_sketchymouse-da0yiyl.png" class="toplist-avatar-img" /></i>
            <span class="toplist-info">
              <span class="toplist-name">Оля</span>
              <span class="toplist-rating">
                <i class="toplist-rating-icon _3"></i>
                <i class="toplist-rating-num">127 голосов</i>
              </span>
            </span>
          </li>
          <li class="toplist-item _dotted">
            <i class="toplist-dotted">&hellip;</i>
          </li>
          <li class="toplist-item _im">
            <i class="toplist-num">9999</i>
            <i class="toplist-avatar"><img src="http://orig01.deviantart.net/9824/f/2016/121/d/7/placeholder_2_by_sketchymouse-da0yiyl.png" class="toplist-avatar-img" /></i>
            <span class="toplist-info">
              <span class="toplist-name">Дно</span>
              <span class="toplist-rating">
                <i class="toplist-rating-icon _1"></i>
                <i class="toplist-rating-num">-327 голосов</i>
              </span>
            </span>
          </li>
        </ul>
        <span class="btn toplist-btn">Обратно к голосованию</span>
      </div>
{% endblock %}