<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="../frontend/static/application/application.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div class="header">
    <a href="/" class="logo"></a>
  </div>
  <div class="content">
    <div class="container">
      <div class="vote">
        <h1 class="title _vote"><i class="title-image _vote"></i><span class="title-info">Выберайте понравившихся вам людей, кликая по фотографии. Чтобы открыть рейтинг - нажмите “перейти к рейтингу”</span></h1>
        <ul class="vote-list">
          <li class="vote-item">
            <i class="vote-avatar">
              <img src="http://orig01.deviantart.net/9824/f/2016/121/d/7/placeholder_2_by_sketchymouse-da0yiyl.png" class="vote-avatar-icon"></img>
            </i>
          </li>
          <li class="vote-item _choose">
            <i class="vote-avatar">
              <img src="http://orig01.deviantart.net/9824/f/2016/121/d/7/placeholder_2_by_sketchymouse-da0yiyl.png" class="vote-avatar-icon"></img>
            </i>
          </li>
        </ul>
        <span class="btn vote-btn">Перейти к рейтингу</span>
      </div>
    </div>
  </div>
</body>
</html>