<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link href="../frontend/static/application/application.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div class="header">
    <a href="/" class="logo"></a>
  </div>
  <div class="content">
    <div class="container">
      <div class="vote">
        <h1 class="title _vote"><i class="title-image _vote"></i><span class="title-info">Выберайте понравившихся вам людей, кликая по фотографии. Чтобы открыть рейтинг - нажмите “перейти к рейтингу”</span></h1>
        <ul class="vote-list">
        </ul>
        <span class="btn vote-btn">Перейти к рейтингу</span>
      </div>
    </div>
  </div>
  <script src="../frontend/static/application/application.js" type="text/javascript"></script>
</body>
</html>